/* Estilos generalews */
body {
    background-color: #EBEBEB;
}





/* Estilos del Header */
header {
    background-color: #FFF159;
    display: flex;
    justify-content: center;
    font-family: Open, sans-serif;
    font-size: 14px; 
}
.content_header {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 50px 50px;
    width: 1200px;
    height: 100px;
}


.logo {
    width: 162px;
    height: 50px;
}
img {
    width: 100%;
    height: 100%;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 40px;
    margin-top: .5rem;
}
.button_search {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}
.input_busqueda {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
}

.codigo_postal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin-top: .5rem;
}
.span1 {
    font-size: 11px;
    font-weight: 50;
}
.nav_categorias {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 1rem;
    padding-top: .5rem;
    padding-right: 10rem;
    
}

.nav_cuenta {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 1rem;
    padding-top: .5rem;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: #555555;
}
a:hover {
    color: #000000;
}

/* Estilos del carrusel */
.carrusel {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    
}

.slide {
    display: none;
}

.slide img {
    width: 1600px;
    height: 340px;
}

/* Estilo de seccion de pagos Citibanamex */
.pagos_citi{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    font-family: Open, sans-serif;
    font-size: 16px; 
}
.content_pagos_citi {
    width: 1190px;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    background-color: #ffffff;
}
.pagos_mp{
   border-right: 1px solid #EBEBEB;
   border-left: 4px solid #3483FA;
   height: 80px;
    justify-content: center;
    align-items: center;
    padding-top: .5rem;
}


.mp{
    font-size: 12px;
    color: #555555;
    padding-top: 0%;
    
}
.acomodo_texto_mp{
    margin: .9rem;
}
.promos_banco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 2rem;
}
.promos_banco a {
    color: #5697FA;
    font-size: 14px;
}
.promos_banco a:hover {
    color: #555555;
}
.logo_bank {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_bank img{
    width: 110px;
    height: 35px;
}
.mas_medios{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mas_medios a {
    color: #5697FA;
    font-size: 14px;
}
.mas_medios a:hover {
    color: #555555;
}

/* Estilos de subtitulos */
.caja_subtitulo{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    
}
.Subtitulo {
    width:  1185px;
    display: flex;
    justify-content: start;  
}
.letra_subtitulo {
    font-family: Open, sans-serif;
    font-size: 25px;
    font-weight: 40;
    color: #0c0c0c;
    margin-right: 1rem;
}
.Subtitulo a {
    font-family: Open, sans-serif;
    color: #5697FA;
    font-size: 16px;
    margin-top: .5rem;
    font-weight: 500;
}
.Subtitulo a:hover {
    color: #555555;
}
/* Estilos de productos Ofertas */
.caja_contenido {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}
.seccion1 {
    max-width:  1185px;
    display: flex;
    gap: 1rem;
}
.producto {
    max-width: 220px;
    height: 360px;
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.producto > img {
    width: 100%;
    max-height: 210px;
    object-fit: contain;
}

.informacion {
    max-height: 220px;
    border-top: 1px solid rgb(230, 230, 230);
    padding: 1rem;
    display: flex;
    flex-flow: column;
}
.precio {
    font-family: Open, sans-serif;
    font-size: 1.4em;
    display: flex;
    align-items: center;
}
.descuento{
    font-size: .6em;
    color: #00A650;
    margin-left: 0.5em;
}
.precio_meses {
    font-family: Open, sans-serif;
    font-size: .8em;
    color: #555555;
    margin: .3rem;
}
.precio_meses_sin_intereses {
    font-family: Open, sans-serif;
    font-size: .8em;
    color: #00A650;
    margin: .3rem;
    font-weight: 550;
}
.precio-envio {
    font-family: Open, sans-serif;
    font-size: .8em;
    font-weight: 600;
    color: #00A650;
    margin: .2rem;
}
.full {
    font-weight: 800;
}
.descripcion{
    font-family: Open, sans-serif;
    font-size: .8em;
    color: #555555;
    margin: .2rem;
}

/* Estilos de anuncios suscribete a Meli+  */

.anuncio_Meli {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.contenedor_Meli {
    max-width:  1185px;
    height: 345px;
   
}
.anuncio_Meli1{
    width: 1185px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #5A238D, #AA1192);
    font-family: Open, sans-serif;
    color: #ffffff;
}

.Meli_1_text {
    font-size: 1.4em;
    margin-left: 1.5rem;
    font-weight: 600;
}
.Meli_2_text {
    font-size: 2rem;
    margin-right: 1rem;
    font-weight: 600;
    border-left: #EBEBEB solid 3px;
    padding-left: .5rem;
}
.Meli_3_text {
    font-size: 1.2rem;
    margin-right: 1.5rem;
    font-weight: 100;
}
